span {
  font-weight: bold;
  }

#description {
  font-style: italic;
}

.card {
  width: 300px;
  border: 1px solid black;
  padding: 10px;
  box-shadow: 5px 5px lightgrey;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

h3 {
  font-size: 2em;
}

.information {
  border: 1px solid gray;
  padding: 10px;
}

img {
  margin-bottom: 10px;
  border: 1px solid grey;
}
